<%- layout("/boilerplate/boilerplate")%>
    <div class="container mb-auto mt-3">
        <div class="d-flex justify-content-center">
            <form action="/notes/<%=info._id%>?_method=PUT" method="POST">
                <label for="topic">
                    <h1>Topic:</h1>
                </label>
                <br>
                <input type="text" name="topic" id="topic" value="<%=info.topic%>">
                <h1>Notes:</h1>
                <% info.notes.forEach(function(note,i) { %>
                    <label for="<%=note._id%>"></label>
                    <textarea name="note" id="<%=note._id%>" cols="50" rows="5"
                        value="<%=note._id%>"><%=note.note%></textarea>
                    <br>
                    <% }) %>
                        <div class="container">
                            <div class="row">
                                <button class="btn btn-warning">Submit</button>
                            </div>
                        </div>
            </form>
        </div>
    </div>